/* Media queries*/
@media screen and (min-width: 600px) {
    .products{
        grid-template-columns: repeat(1, 1fr);
    }

    @media screen and (min-width: 768px){
        .products{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 2rem;
        }
    }

    @media screen and (min-width: 992px){
        .products{
            grid-template-columns: repeat(3, 1fr);
        }
    }
}